@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #222831;
  --color2: #34436F;
  --color3: #F2D365;
}

* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.radio-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.radio-button:hover {
  background-color: #ccc;
}

input[type="radio"]:checked+.radio-button {
  background-color: #555;
}

/* Modifier la couleur de fond du label de bouton radio lorsque l'image associée est affichée */

#item-1:checked~.flex .radio-button:nth-child(1),
#item-2:checked~.flex .radio-button:nth-child(2),
#item-3:checked~.flex .radio-button:nth-child(3),
#item-4:checked~.flex .radio-button:nth-child(4),
#item-5:checked~.flex .radio-button:nth-child(5),
#item-6:checked~.flex .radio-button:nth-child(6),
#item-7:checked~.flex .radio-button:nth-child(7),
#item-8:checked~.flex .radio-button:nth-child(8),
#item-9:checked~.flex .radio-button:nth-child(9),
#item-10:checked~.flex .radio-button:nth-child(10),
#item-11:checked~.flex .radio-button:nth-child(11),
#item-12:checked~.flex .radio-button:nth-child(12),
#item-13:checked~.flex .radio-button:nth-child(13),
#item-14:checked~.flex .radio-button:nth-child(14),
#item-15:checked~.flex .radio-button:nth-child(15),
#item-16:checked~.flex .radio-button:nth-child(16),
#item-17:checked~.flex .radio-button:nth-child(17),
#item-18:checked~.flex .radio-button:nth-child(18),
#item-19:checked~.flex .radio-button:nth-child(19),
#item-20:checked~.flex .radio-button:nth-child(20),
#item-21:checked~.flex .radio-button:nth-child(21),
#item-22:checked~.flex .radio-button:nth-child(22) {
  background-color: #555;
  /* Choisir la couleur de votre choix */
}

#item-1:checked~.cards #pic-1,
#item-2:checked~.cards #pic-2,
#item-3:checked~.cards #pic-3,
#item-4:checked~.cards #pic-4,
#item-5:checked~.cards #pic-5,
#item-6:checked~.cards #pic-6,
#item-7:checked~.cards #pic-7,
#item-8:checked~.cards #pic-8,
#item-9:checked~.cards #pic-9,
#item-10:checked~.cards #pic-10,
#item-11:checked~.cards #pic-11,
#item-12:checked~.cards #pic-12,
#item-13:checked~.cards #pic-13,
#item-14:checked~.cards #pic-14,
#item-15:checked~.cards #pic-15,
#item-16:checked~.cards #pic-16,
#item-17:checked~.cards #pic-17,
#item-18:checked~.cards #pic-18,
#item-19:checked~.cards #pic-19,
#item-20:checked~.cards #pic-20,
#item-21:checked~.cards #pic-21,
#item-22:checked~.cards #pic-22 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked~.cards #pic-1 img,
#item-2:checked~.cards #pic-2 img,
#item-3:checked~.cards #pic-3 img,
#item-4:checked~.cards #pic-4 img,
#item-5:checked~.cards #pic-5 img,
#item-6:checked~.cards #pic-6 img,
#item-7:checked~.cards #pic-7 img,
#item-8:checked~.cards #pic-8 img,
#item-9:checked~.cards #pic-9 img,
#item-10:checked~.cards #pic-10 img,
#item-11:checked~.cards #pic-11 img,
#item-12:checked~.cards #pic-12 img,
#item-13:checked~.cards #pic-13 img,
#item-14:checked~.cards #pic-14 img,
#item-15:checked~.cards #pic-15 img,
#item-16:checked~.cards #pic-16 img,
#item-17:checked~.cards #pic-17 img,
#item-18:checked~.cards #pic-18 img,
#item-19:checked~.cards #pic-19 img,
#item-20:checked~.cards #pic-20 img,
#item-21:checked~.cards #pic-21 img,
#item-22:checked~.cards #pic-22 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.card {
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}
